<!Doctype html>
<html>
<head>
<meta charset="UTF-8">
<link href="/public/style.css" rel="stylesheet" type="text/css" media="all">
<title>Show message</title>
</head>
<body>
<h1><%= data[0].playername %>選手の詳細</h1>
<table>
<% for( let row of data ) { %>
<tr><td>Name</td><td><%= row.playername %></td></tr>
<tr><td>SNS</td><td><a href="<%= row.playertwitter %>"><%= row.playertwitter %></a></td></tr>
<tr><td>配信サイト</td><td><a href="<%= row.link %>"><%= row.link %></a></td></tr>
<tr><td>所属チーム</td><td><a href="/team/<%= row.teamid %>"><%= row.teamname %></a>所属<%= row.postname %></td></tr>
<% } %>
</table>
</body>
</html>